*{margin: 0; padding: 0; box-sizing: border-box;}
body{
  font-family: "Noto Sans KR", sans-serif;
  line-height: 1.4;
  font-size: 16px;
}
a{text-decoration: none; color: inherit;}
/* 테이블 사이의 여백 제거 */
tabel{border-collapse: collapse; border-spacing: 0;}
label{border-spacing: 0;}

.login{
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
  background-color: rgba(0,0,0,0.8);
  user-select: none;
}
.login > .container{
  width: 580px;
  background-color: #fff;
  padding: 40px 0;
  /*가운데 정렬*/
  position: absolute;
  left: 50%; margin-left: -290px;
  top:100px;
  /* 
    calc = 계산기(+,-,*,/)
    left:calc(50%,-290px);
  */
}

.login h1{
  font-size: 36px;
  color: #1aa5d0;
  text-align: center;
}
.login p{
  text-align: center;
  margin: 20px 0 40px;
  color: #666;
}
.login b{
  font-size: 18px;
}

form{
  border-top: 1px solid #1aa5d0;
  border-bottom: 1px solid #d4e2e2;
  padding: 5px 30px;
}
input[type=text],
input[type=password]{
  width: 220px;
  height: 30px;
  margin: 0 80px 0 30px;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}
table td{
  height: 60px;
}
input[type=submit]{
  width: 120px;
  height: 94px;
  font-size: 22px;
  color: #fff;
  background-color: #1aa5d0;
  border: none;
  font-weight: bold;
}

.join{
  font-size: 14px;
  text-align: right;
  line-height: 2;
  padding-right: 36px;
}